<?php 
define('web_root', 'http://reglamentociclista.levhita.net/');
define('disqus_shortname','disqusshortname'); //Disqus
define('pubid', ''); //Add This
define('google_analytics', 'UA-something-1'); // Google Analytics
//define('production', false);